<script src="https://cdn.jsdelivr.net/npm/zepto@1.2.0/dist/zepto.min.js"></script>
<script>window.Zepto || document.write('<script src="/tpl/wap2020/js/zepto.min.js"><\/script>')</script>
<script src="https://cdn.jsdelivr.net/npm/swiper@4.5.0/dist/js/swiper.min.js"></script>
<script>window.Swiper || document.write('<script src="/tpl/wap2020/js/swiper.min.js"><\/script>')</script>
<script defer src="/tpl/wap2020/js/fastclick.min.js"></script>
<script defer src="/tpl/wap2020/js/lazyload.js"></script>
<script defer src="/tpl/wap2020/js/common.js"></script>

<!-- 商务通软件 -->
<!-- <script language="javascript" src="http://swt.faakee.com/JS/LsJS.aspx?siteid=MKP91413261&float=1&lng=cn"></script>
<script src="/js/baidu.js" defer></script>
<script src="http://lxbjs.baidu.com/lxb.js?sid=13051008" defer></script> -->